body { margin: 0 0 0 0;
background: url(/Users/Thomy/Documents/Imagenes/Fondo.jpg);
background-size: 100% 100%;
font-family: arial;   
font-size: 100%;                          
}

.cabecera {
position: relative;
bottom: 32px;
background-color: #06EAA5;
color: white;  
text-align: center;
font-size: 150%;
}


.subtitulo { 
font-weight: bold;
color: white;
font-size: 120%;
background-color: #06EAA5;
padding: 0.5% 0 0.5% 0;                     
text-align: center; 
position: relative;
top: -20px;  
}

div p {
background: white;
padding: 1% ;
border-radius: ;
position: relative;
bottom: 40px;  
} 

button {  
padding: 1% 1% 1% 1%; 
border-radius: 20px;
position: relative;
bottom:35px; 
}
 
.links {
color: #06EAA5;
}

img {
height: 50%;                      
width: 50%;
position: relative;
left: 48%;
bottom: 75px;
border: solid 5px #05FFB3;
padding: 0.5%;
background: white;
border-radius: 2% ;
}

footer {
background: gray;
color: white;
height: 50px ;
padding: 0.5%;
text-align: left;
font-size: 120%;
}